{{ define "main" }}
	
	<article class="prestation">
		<div class="prestation-intro">
		<h5><a href="../">Retour à la liste des prestations</a></h5>
		<h1 class="h2">
			{{ .Title }}	
		</h1>

		{{ if .Params.effet }}
		  <p class="lead">{{ markdownify .Params.effet }}</p>
		{{ end }}
		
		
		<h2>Objectifs</h2>
		<ul>	
			{{ range $val := .Params.objectifs }}
				<li>{{ $val }}</li>
			{{ end }}
		</ul>
		
		{{ .Content }}
		
		</div>
		
		<aside>	
			{{ if .Params.banner }}
			<img src="{{ .Params.banner }}" alt="{{ .Title }}" class="shadow" />
			{{ end }}			
			<div class="bg-aside">
				<dl>	
				{{ if .Params.effet_temps }}
				  <dt class="icon icon-time h5 color-minuit">Effet</dt>
				  <dd>{{ .Params.effet_temps }}</dd>
				{{ end }}
				{{ if .Params.seances }}
				  <dt class="icon icon-agenda h5 color-minuit">Nombre de séance</dt>
				  <dd>{{ .Params.seances }}</dd>
				{{ end }}
				{{ if .Params.couts }}
				  <dt class="icon icon-cost h5 color-minuit">Tarifs</dt>
				  <dd>{{ .Params.couts }}</dd>
				{{ end }}
				</dl>
				
				{{ if .Params.cta }}
				  <a href="/rendez-vous/" class="button">{{ .Params.cta }}</a>
				{{ end }}
			</div>
		</aside>

		
	</article>
	
	<div class="box-cta" data-aos="fade-up">
		<img src="/images/dorota_teterycz.jpg" alt="" class="box-cta-img"  data-aos="zoom-in" data-aos-duration="350">
		<div class="box-cta-content inverted">
			<h5 data-aos="fade-up" data-aos-duration="100">Contact</h5>
			<h2 data-aos="fade-up" data-aos-duration="300">Premier rendez-vous</h2>
			<p data-aos="fade-up" data-aos-duration="500">Vous vous intéressez à ce soin ? Vous souhaitez savoir comment <strong>{{ .Title }}</strong> ? N’hésitez pas à me contacter, sans aucune obligation.</p>
			<div class="box-cta-action" data-aos="fade-up" data-aos-duration="600">
				<a href="/rendez-vous/" class="button">Prendre rendez-vous</a>
			</div>
		</div>
	</div>
	
	<nav class="pagination">	
		{{ if .PrevInSection }}
		<a href="{{.PrevInSection.Permalink}}">
			⬅︎
			{{.PrevInSection.Title}}
		</a>
		{{ end }}
		{{ if .NextInSection }}
		<a href="{{.NextInSection.Permalink}}">
			{{.NextInSection.Title}}
			⮕
		</a>
		{{ end }}
	</nav>
{{ end }}
