<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<link href="{{ "css/aos.css" | relURL }}" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#b5836b">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#b5836b">	
	<script>
		document.documentElement.className = document.documentElement.className.replace("no-js","js");
	</script>
	<script async defer data-domain="dt-esthetique.ch" src="https://stats.dt-esthetique.ch/js/index.js"></script>
	<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
	
</head>
<body>
	{{ partial "header" . }}
	<main class="container" data-aos="fade-up"
	 data-aos-duration="500">
		{{ block "main" . }}{{ end }}
	</main>
	{{ partial "footer" . }}
	
	{{ if .Params.bg }}
	<style>
		.js body {
		  background-color: rgb(244,235,224);
		}
	</style>
	<script>
		const [red, green, blue] = [244,235,224]
		const body = document.querySelector('body')
		
		window.addEventListener('scroll', () => {
		  const y = 1 + (window.scrollY || window.pageYOffset) / 10000
		  const [r, g, b] = [(red*y)*1.01, green*y, blue*y].map(Math.round)
		  body.style.backgroundColor = `rgb(${r}, ${g}, ${b})`
		})
	</script>
	{{ end }}	
	<script src="{{ "/js/aos.js" | relURL }}"></script>	
	<script>
		  AOS.init();
	</script>
	<script>
		// Handle link events - those that have data-analytics
		let elements = document.querySelectorAll("a[data-analytics]");
		registerAnalyticsEvents(elements, handleLinkEvent);
		
		// Handle button form events - those that have data-analytics
		elements = document.querySelectorAll("button[data-analytics]");
		registerAnalyticsEvents(elements, handleFormEvent);
		
		/**
		* Iterate Elements and add event listener
		*
		* @param {NodeList} Array of elements
		* @param {string} callback function name
		*/
		function registerAnalyticsEvents(elements, callback) {
			for (var i = 0; i < elements.length; i++) {
				elements[i].addEventListener('click', callback);
				elements[i].addEventListener('auxclick', callback);
			}
		}
		
		/**
		* Handle Link Events with plausible
		* https://github.com/plausible/analytics/blob/e1bb4368460ebb3a0bb86151b143176797b686cc/tracker/src/plausible.js#L74
		*
		* @param {Event} click
		*/
		function handleLinkEvent(event) {
			var link = event.target;
			var middle = event.type == "auxclick" && event.which == 2;
			var click = event.type == "click";
			while (link && (typeof link.tagName == 'undefined' || link.tagName.toLowerCase() != 'a' || !link.href)) {
				link = link.parentNode;
			}
		
			if (middle || click)
				registerEvent(link.getAttribute('data-analytics'));
		
			// Delay navigation so that Plausible is notified of the click
			if (!link.target) {
				if (!(event.ctrlKey || event.metaKey || event.shiftKey) && click) {
					setTimeout(function () {
						location.href = link.href;
					}, 150);
					event.preventDefault();
				}
			}
		}
		
		/**
		* Handle form button submit events with plausible
		*
		* @param {Event} click
		*/
		function handleFormEvent(event) {
			event.preventDefault();
		
			registerEvent(event.target.getAttribute('data-analytics'));
		
			setTimeout(function () {
				event.target.form.submit();
			}, 150);
		}
		
		/**
		* Parse data and call plausible
		* Using data attribute in html eg. data-analytics='"Register", {"props":{"plan":"Starter"}}'
		*
		* @param {sting} data - plausible event "Register", {"props":{"plan":"Starter"}}
		*/
		function registerEvent(data) {
			// break into array
			let attributes = data.split(/,(.+)/);
		
			// Parse it to object
			let events = [JSON.parse(attributes[0]), JSON.parse(attributes[1] || '{}')];
		
			plausible(...events);
		}
	</script>
	
</body>
</html>
