:root {
  /* colors */  
  --cuivre: #b5836b;
  --cuivre50: #D8BFB3;
  --nacre: #eddbc6;
  --nacre50: #F4EBE0;
  --minuit: #2d384b;
  --metisse: #c2a18b;
  --rose: #c9a79b;
  --mist: #cacdcf;
  --blanc: #fdfdfd;
  --noir: #333333;
  
  /* sizes */  
  --maxwidth: 1500px;
}

@font-face {
  font-family: 'Montserrat-semi-bold';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url(Montserrat-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(Montserrat-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(Montserrat-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Garamond-semi-bold';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url(CormorantGaramond-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Garamond-italic';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(CormorantGaramond-Italic.woff2) format('woff2');
}



/* A11Y */
.a11y-navigation{
  position: fixed;
  z-index: 100;
  top: 1em;
  left: 1em;
}
.a11y-navigation ul li{
  list-style: none;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.sr-show-on-focus:focus{
  z-index: 20;
  width: auto;
  min-width: 10em;
  height: auto;
  clip: auto;
  background-color: #000;
  padding: 0.4em 1em;
  color: #fff;
}


html{
  font-size: 100%;
  background-color: var(--nacre50);
}

/* Prevent animation library to hide data for javascript disabled https://github.com/michalsnik/aos/issues/541 */
html.no-js [data-aos] {
  opacity: 1;
  transform: none;
}

body{
  font-family: Montserrat,-apple-system,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: calc(0.8em + 0.5vw);
  font-size: clamp(1em,calc(0.8em + 0.5vw),22px);
  margin: 0;
  padding:0;
  color: var(--minuit);
  background-color: var(--blanc);
}
main{
  position: relative;
  z-index: 80;
  max-width: 60em;
  margin: auto;
}
@supports (display: grid) and (not (-ms-ime-align: auto)) {
	main{
	 max-width: none;	
	}
  .container{
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns:
	[full-start] minmax(1em, 1fr)
	[main-start] minmax(0, 60em) [main-end]
	minmax(1em, 1fr) [full-end];
  }
  .container>*{
	grid-column: main;
  }
  .container-main{
	grid-column: main;
  }
  .container-full{
	grid-column:full;
  }
}


a{
  color: var(--metisse);
  text-decoration-skip-ink: auto;
  text-decoration: currentcolor underline;
}
a:hover{
  color: var(--cuivre);
}
a:visited{
  color: currentcolor;
}


/* HEADER */
.small-logo{
  display: block;
  width: 50vw;
  min-width: 200px;
  max-width: 250px;
}
.big-logo{
  display: none;
  width: 25vw;
  min-width: 300px;
  max-width: 500px;
}
#logo svg{
  height: auto;
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  margin: 0 auto 2vh;
  padding: 3vh 2vw 0;
  max-width: var(--maxwidth);
}
.js header nav{
  display: none;
}
header nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 1vh;
  line-height: 1em;
  height: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
header nav li {
  list-style: none;
  font-family: 'Garamond-semi-bold', Serif;
  font-weight: 600;
  margin-top: 2vh;
  font-size: 150%;
}
header nav a {
  display: block;
  text-decoration: none;
  position: relative;
  background: linear-gradient(to right,
    var(--cuivre) 0%,
    var(--cuivre) 100%) center bottom no-repeat;
  transition-timing-function: ease-in-out;
  transition-property: background-size, color, background-image;
  transition-duration: 0.4s;
  color: var(--minuit);
  padding: calc(2px + 0.8em) 0;
  margin: 0 1em;
  background-size: 0 2px;
}
header nav a::after{
  content: "◆";
  font-size: 32px;
  line-height: 32px;
  position: absolute;
  bottom:-12px;
  margin-left: -4px;
  left: 50%;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-property: opacity, color;
  transition-duration: 0.4s;
}
header nav a:hover::after{
  color: var(--cuivre);
  opacity: 100%;
}
header nav a:hover{
  background: linear-gradient(to right,
    var(--cuivre) 0%,
    var(--cuivre) 100%) center bottom no-repeat;
  background-size: 100% 2px;
  color: var(--cuivre);
}

.no-js #hamburger{
  display: none;
}
.js #menu{
  opacity: 0;
  background-color: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, background;
  transition-duration: 0.4s;
  display: block;
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: 0;  
}
#hamburger.active + #menu{
  position: fixed;
  z-index: 90;
  display: block;
  opacity: 1;
  background-color: var(--nacre50);
  background-color: #F4EBE0EE;
}
#hamburger{
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 99;
  right: 3vw;
  top: 3vw;
}
#hamburger{
  text-decoration: none;
  display: flex;
  align-items: center;
}
#hamburger span{
  font-family: 'Garamond-semi-bold', Serif;
  font-weight: 600;
  font-size: 120%;
  transition-timing-function: ease-in-out;
  transition-property: padding, color;
  transition-duration: 0.4s;
  color: var(--minuit);
}
#hamburger:hover span{
  color: var(--cuivre);
}
#hamburger svg {
  width: 60px;
  height: 60px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
#hamburger.active{
  position: fixed;
}
#hamburger.active span{
  padding-right: 0.5em;
}
#hamburger.active svg {
  transform: rotate(90deg);
}
#hamburger path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
#hamburger path:nth-child(1) {
  transform-origin: 36% 40%;
}
#hamburger path:nth-child(2) {
  stroke-dasharray: 29 299;
}
#hamburger path:nth-child(3) {
  transform-origin: 35% 63%;
}
#hamburger path:nth-child(4) {
  stroke-dasharray: 29 299;
}
#hamburger path:nth-child(5) {
  transform-origin: 61% 52%;
}
#hamburger path:nth-child(6) {
  transform-origin: 62% 52%;
}
#hamburger.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
#hamburger.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
#hamburger.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
#hamburger.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
#hamburger.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
#hamburger.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.no-js header{
  flex-direction: column;
  height: auto;
}
.no-js header nav li {
  margin-top: 0.3em;
}
@media (min-width: 60em) {
  header{
    justify-content: space-between;
  }
  .no-js header{
    flex-direction: row;
  }
  .js header nav{
    display: block;
  }
  .js #menu{
    opacity: 1;
    display: block;
    position: relative;
    width: auto;
    height: auto;
  }
  header nav ul{
    flex-direction: row;
    align-items: baseline;
  }
  header nav li {
    margin-top: 0;
    font-size: 100%;
  }
  #hamburger{
    display: none;
  }
  .small-logo{
    display: none;
  }
  .big-logo{
    display: block;
  }
}

/* Typography */
h1, h2, h3, h4, h5{
  font-family: 'Garamond-semi-bold', Serif;
  word-wrap: break-word;
}
h1, .h1 {
  font-family: Montserrat-semi-bold,-apple-system,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: calc(1.1em + 1vw);
  font-size: clamp(1em,calc(1.1em + 1vw),30px);
  text-transform: uppercase;
  line-height: 1.1em;
  font-weight: 600;
  margin-top: 1.2em;
  margin-bottom: 1em;
}
h2, .h2 {
  font-size: calc(1.6em + 1vw);
  font-size: clamp(1em,calc(1.6em + 1vw),45px);
  line-height: 1.3em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
h2 em, .h2 em{
  font-family: 'Garamond-italic';
  font-style: italic;
  font-weight: 400;
}
h3, .h3 {
  font-size: calc(0.7em + 1vw);
  font-size: clamp(1.4em,calc(0.7em + 1vw),26px);
  font-weight: 600;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}
h4, .h4 {
  font-family: 'Garamond-italic';
  font-size: calc(0.7em + 1vw);
  font-size: clamp(1em,calc(0.7em + 1vw),24px);
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
h5, .h5{
  font-family: Montserrat-semi-bold,-apple-system,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: calc(0.5em + 1vw);
  font-size: clamp(1em,calc(0.5em + 1vw),18px);
  line-height: 1.3em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--cuivre);
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p, ul, ol, pre, table, blockquote {
  line-height: 1.56em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
p + p, p + ul, ul + p, h2 + p, h3 + ol, h3 + ul, h2 + ol, h2 + ul{
  margin-top: 0.6em;
}
p + h2, p + h3,p + h4, p + h5{
  margin-top: 1.4em;
}
h1 + h2, h2 + h2, h2 + h3, h5 + h3 , h3 + h4, h4 + h5, h3 + h5{
  margin-top: 1.2em;
}
ul, ol{
  margin-left: 1.4em;
  padding-left: 0em;
  margin-bottom: 1em;
}
ul li, ol li{
  margin-bottom: 0.3em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0.3em;
  margin-bottom: 0px;
}

input, textarea, keygen, select, button{
  font-size: 100%;
}

mark{
  background-color: var(--nacre50);
}

/* CTA */
.button, button, .button:visited{
  display: inline-block;
  padding: 1em 3.5em 1em 2em;
  font-weight: 600;
  font-size: 0.9em;
  text-decoration: none;
  color: var(--nacre);
  border: 1px solid var(--nacre);
  background-color: var(--minuit);
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-image: url("data:image/svg+xml;utf8,<svg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.51514 12L22.606 12' stroke='%23EDDBC6' stroke-linecap='round'/><path d='M16.2427 18L22.6063 12L16.2427 6' stroke='%23EDDBC6' stroke-linecap='round'/></svg>");
  transition-timing-function: ease;
  transition-property: background-position, color, background-color, border-color;
  transition-duration: 0.3s;
}
.button:hover, button:hover{
  color: var(--blanc);
  border-color: transparent;
  background-position: 95% 50%;
  background-image: url("data:image/svg+xml;utf8,<svg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.51514 12L22.606 12' stroke='%23fdfdfd' stroke-linecap='round'/><path d='M16.2427 18L22.6063 12L16.2427 6' stroke='%23fdfdfd' stroke-linecap='round'/></svg>");
}
.button:active, button:active{
  /*  */  
}
.button-block{
  display: inline-block;
}
@media (max-width: 30em) { 
  .button{
    display: block;
  }
}

/* Quotes */
blockquote{
  font-family: 'Garamond-italic', Serif;
  font-style: italic;
  font-size: 140%;
  margin: 0;
  padding: 0;
}
blockquote::before {
  content: "—";
  float: left;
  margin-right: 0.4em;
}

/* COLOR ME */
.bg-cuivre{ background-color: var(--cuivre); }
.bg-cuivre50{ background-color: var(--cuivre50); }
.bg-nacre{ background-color: var(--nacre); }
.bg-nacre50{ background-color: var(--nacre50); }
.bg-minuit{ background-color: var(--minuit); }
.bg-metisse{ background-color: var(--metisse); }
.bg-rose{ background-color: var(--rose); }
.bg-mist{ background-color: var(--mist); }
.bg-blanc{ background-color: var(--blanc); }
.bg-noir{ background-color: var(--noir); }

.color-cuivre{ color: var(--cuivre); }
.color-cuivre50{ color: var(--cuivre50); }
.color-nacre{ color: var(--nacre); }
.color-nacre50{ color: var(--nacre50); }
.color-minuit{ color: var(--minuit); }
.color-metisse{ color: var(--metisse); }
.color-rose{ color: var(--rose); }
.color-mist{ color: var(--mist); }
.color-blanc{ color: var(--blanc); }
.color-noir{ color: var(--noir); }

.color-points{
  display: flex;
  width: 100%;
  margin:1em 0;
}
.point{
  height:4em;
  width: 100%;
}

/* Utilities */
.shadow{
  box-shadow: -1em -1em var(--cuivre);
}
.hide-mobile{
  display: none;
}
@media (min-width: 60em) {
  .hide-mobile{
    display: block;
  }
}

/* Article aside (prestations) */
@media (min-width: 60em) {
  aside{
    float: right;
    width: 30%;
    margin-left: 4em;
  }
}
.prestation aside{
  margin: 2em;
}
.prestation img{
  max-width: 100%;
}
.prestation aside dl{
  padding: 0.5em 1.6em 1.6em;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--cuivre50);
}
.prestation aside dt{
  margin-top: 1em;
}
.prestation aside dd{
  padding-left: 0;
  margin-left: 2rem;
}
.prestation aside>*{
  display: block;
  margin: 0 0 1em 0;
}

.icon{
    background-repeat: no-repeat;
    background-size: 1.4rem;
    padding-left: 2rem;
}
.icon-time{
  background-image: url("data:image/svg+xml;utf8,<svg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M15.104 9.66666H13.2915V16.9167L19.0311 20.3604L19.9373 18.8742L15.104 16.0104V9.66666ZM20.9487 2.18707L26.5155 6.83311L24.9688 8.68791L19.3984 4.04428L20.9487 2.18707ZM8.05093 2.18707L9.60002 4.04307L4.03202 8.68791L2.48535 6.83191L8.05093 2.18707ZM14.4998 4.83332C8.49439 4.83332 3.62481 9.70291 3.62481 15.7083C3.62481 21.7137 8.49439 26.5833 14.4998 26.5833C20.5052 26.5833 25.3748 21.7137 25.3748 15.7083C25.3748 9.70291 20.5052 4.83332 14.4998 4.83332ZM14.4998 24.1667C9.83564 24.1667 6.04148 20.3725 6.04148 15.7083C6.04148 11.0442 9.83564 7.24999 14.4998 7.24999C19.164 7.24999 22.9581 11.0442 22.9581 15.7083C22.9581 20.3725 19.164 24.1667 14.4998 24.1667Z' fill='%232E394C'/></svg>");  
}
.icon-agenda{
  background-image: url("data:image/svg+xml;utf8,<svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M26.667 3.99998H25.3337V1.33331H22.667V3.99998H9.33366V1.33331H6.66699V3.99998H5.33366C3.86699 3.99998 2.66699 5.19998 2.66699 6.66665V28C2.66699 29.4666 3.86699 30.6666 5.33366 30.6666H26.667C28.1337 30.6666 29.3337 29.4666 29.3337 28V6.66665C29.3337 5.19998 28.1337 3.99998 26.667 3.99998ZM26.667 28H5.33366V13.3333H26.667V28ZM26.667 10.6666H5.33366V6.66665H26.667V10.6666Z' fill='%232E394C'/></svg>");  
}
.icon-cost{
  background-image: url("data:image/svg+xml;utf8,<svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M28 9.70667V6.66667C28 5.2 26.8 4 25.3333 4H6.66667C5.18667 4 4 5.2 4 6.66667V25.3333C4 26.8 5.18667 28 6.66667 28H25.3333C26.8 28 28 26.8 28 25.3333V22.2933C28.7867 21.8267 29.3333 20.9867 29.3333 20V12C29.3333 11.0133 28.7867 10.1733 28 9.70667ZM26.6667 12V20H17.3333V12H26.6667ZM6.66667 25.3333V6.66667H25.3333V9.33333H17.3333C15.8667 9.33333 14.6667 10.5333 14.6667 12V20C14.6667 21.4667 15.8667 22.6667 17.3333 22.6667H25.3333V25.3333H6.66667Z' fill='%232E394C'/><path d='M21.333 18C22.4376 18 23.333 17.1046 23.333 16C23.333 14.8954 22.4376 14 21.333 14C20.2284 14 19.333 14.8954 19.333 16C19.333 17.1046 20.2284 18 21.333 18Z' fill='%232E394C'/></svg>");  
}

/* columns */
.columns{
  margin-top: 3em;
}

/* Pagination nav */
nav.pagination{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav.pagination a{
  font-size: 80%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--cuivre);
  background-color: var(--nacre50);
  border-radius: 1.5em;
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
}

/* face SVG anim */
.half-image{
  float: right;
  padding: 2vw;
}
.half-image-left{
  float: left;
  padding-left: 0;
}

.face{
  position: relative;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 20% 100%, 5% 60%, 0% 30%);
  shape-outside: polygon(10% 0%, 100% 0%, 100% 100%, 20% 100%, 5% 60%, 0% 30%);
}
.face svg{
  max-width: 35vw;
  height: auto;
}
.face svg:not(:first-child){
  position: absolute;
  top:0;
  left:0;
}
.face svg *{
  transition: all 0.5s ease-in-out;
}
.face svg *:hover {
  fill: var(--nacre50);
}

/* box CTA */
.box-cta{
  margin-top: 4em;
  margin-bottom: 4em;;
}
.box-cta-content{
  background-color: var(--nacre50);
  padding: 1.5em;
}
.box-cta-img{
  margin-top: -3em;
  margin-bottom: 2em;
  float: left;
  width: 80vw;
  height: 30vh;
  object-fit: cover;
  object-position: 50% 50%; 
  margin-right: 20vw;
}
.box-cta-action{
  margin: 1em 0;
}
@media (min-width: 40em) {

  .box-cta-content{
    margin-left: 4em;
  }
  .box-cta-img{
    margin-top: 1em;
    margin-right: 3em;
    max-width: 20vw;
    min-width: 15em;
    height: auto;
    max-height: 500px;
  }
  .box-cta-action{
  }  
}

/* lightbox CTA */
.lightbox-cta{
  background-color: var(--nacre50);
  margin-top: 4em;
  margin-bottom: 4em;
}
.lightbox-cta-container{
  margin: 0 auto;
  padding: 2vh 2vw;
  max-width: var(--maxwidth);
  position: relative;
}
.lightbox-cta-content{
  padding: 1.5em;
}
.lightbox-cta-img{
  margin: 4em auto -4em;
  width: 80vw;
  display: block;
}
.lightbox-cta-action{
  margin: 1em 0;
}
@media (min-width: 40em) {
  .lightbox-cta-content{
    width: 40%;
  }
  .lightbox-cta-img{
    right:4vw;
    bottom: 5%;
    position: absolute;
    width: 40vw;
    height: 30vh;
    max-width: 700px;
    object-fit: cover;
    object-position: 70% 50%;
  }
  .lightbox-cta-action{
  }  
}

/* Dorota Quote */
.dorota-quote-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em auto 1em;
  padding: 2vh 0;
  max-width: var(--maxwidth);
} 

.dorota-quote-images{
  position: relative;  
}
.dorota-quote-img{
  object-fit: cover;
  width: 80vw;
  height: 50vh;
}
.dorota-quote-imgsecond{
  position: absolute;
  left: 43vw;
  bottom:-10vh;
  object-fit: cover;
  width: 50vw;
  height: 20vh;
}
.dorota-quote-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding: 3em;
  margin-top: 10vh;
}
.dorota-quote-quote{
  margin: 1em 0;
  color: var(--cuivre);
}

@media (min-width: 60em) 
{
  .dorota-quote{
    margin-bottom: 20vh;
  }
  .dorota-quote-image{
    margin-bottom: -10vh;
  }
  .dorota-quote-img{
    width: 30vw;
    min-width: 400px;
    max-width: calc(var(--maxwidth)/2.5);
    height: 60vh;
  }
  .dorota-quote-imgsecond{
    left:16vw;
    bottom:-10vh;
    width: 20vw;
  }
  .dorota-quote-content{
    margin-top: 0;
    width: 100%;
  }
  .dorota-quote-content p{
    max-width: 50ch;
  }
  .dorota-quote-container{
    flex-direction: row;
    padding-left: clamp(90px, 8vw, 250px);
  }
}


/* inverted */
.inverted{
  background-color: var(--minuit);
  color: var(--nacre);
}
.inverted .button:hover, .inverted button:hover{
  border-color: var(--blanc);
}


/* FOOTER */
footer{
  background-color: var(--nacre50);
}
.footer-content{
  font-size: 95%;
  margin: 8vh auto 0;
  padding: 4vh 2vw 3vh;
  color: var(--cuivre);
  /* max-width: var(--maxwidth); */
}
.footer-content div{
  padding: 0.5em;
}
footer a{
  position: relative;
  display: block;
  padding: 0 0 0.5em 1.1em;
}
footer a::before{
  content: "◆";
  position: absolute;  
  top:0;
  left:0.1em;
}
@media (min-width: 100em) { 
  .footer-content{
    display: flex;
    justify-content: space-between;  
  }
  footer a:first-child::before{
    content: "";
  }
  footer a::before{
    left: 1.1em;
  }
  footer a{
    display: inline-block;
    padding-left: 3em;
    text-decoration: none;
  }
}

