<div class="box-cta{{ with .Get "class" }} {{.}}{{ end }}" data-aos="fade-up">
	<img src="{{ with .Get "img" }}{{.}}{{ end }}" alt="" class="box-cta-img"  data-aos="zoom-in" data-aos-duration="350">
	<div class="box-cta-content {{ with .Get "background" }} {{.}}{{ end }}">
		<h5 data-aos="fade-up" data-aos-duration="100">{{ with .Get "surtitle"}}{{.}}{{ end }}</h5>
		<h2 data-aos="fade-up" data-aos-duration="300">{{ with .Get "title"}}{{.}}{{ end }}</h2>
		<p data-aos="fade-up" data-aos-duration="500">{{ .Inner }}</p>
		<div class="box-cta-action" data-aos="fade-up" data-aos-duration="600">
			<a href="{{ with .Get "link" }}{{.}}{{ end }}" class="button">{{ with .Get "link_label"}}{{.}}{{ end }}</a>
		</div>
	</div>
</div>